/target
Cargo.lock
#/output.csv
#/charts
/analysis/venv
/analysis/.mypy_cache
/analysis/__pycache__
/paper/*.aux
/paper/*.bcf
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/*.blg
/paper/*.bbl
/paper/*.pdf
/paper/*.run.xml
/paper/*.synctex.gz
/paper/_minted-*
